*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Helvetica, sans-serif;
    color: #323232;
    border: none;
}
body{
    background-image: url(../img/wallpaperflare.com_wallpaper.jpg); 
    background-size: cover;
}
textarea:focus, input:focus{
    outline: none;
}
a{
    text-decoration: none;
    font-size: .8rem;
}
a:hover{
    color: #08558b
}
/*container*/
.login-container {
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;

} 
/*formulario*/
form{
    margin-top: 30px;
    margin-bottom: 40px;
}
label, input{
    display: block;
    width: 100%;
    text-align: left;
}
label{
    font-weight: bold;
    font-size: .8rem;
}
input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}
input:focus{
    border-bottom: 2px solid #08558b;
}
#forgot-pass {
    display: block;
    text-align: right;
}    
input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #08558b;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #1b223c;
    transition: .5s;
} 
/*redes sociais*/
#social-container {
    margin-bottom: 20px;
  }
#social-container i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    margin: 0 5px;
    color: #FFF;
    text-align: center;
}
.fa-facebook-f{
    background-color: #3b5998;
}
.fa-linkedin{
    background-color: #0077b5;
} 
/*registrar*/
#register-container p{
    margin-bottom: 10px;
}